---
import type { Alternate, Preload } from "@/components/SEO.astro"
import { getI18N } from "@/i18n"
import Layout from "@/layouts/Layout.astro"
import About from "@/sections/About.astro"
import Care from "@/sections/Care.astro"
import Contact from "@/sections/Contact.astro"
import FAQ from "@/sections/Faq.astro"
import Feature from "@/sections/Feature.astro"
import Hero from "@/sections/Hero.astro"
import Instagram from "@/sections/Instagram.astro"
import Pet from "@/sections/Pet.astro"
import Pricing from "@/sections/Pricing.astro"
import Services from "@/sections/Services.astro"
import Team from "@/sections/Team.astro"
import Testimonial from "@/sections/Testimonial.astro"

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
const canonical = "https://felinevets.com.co/"

const preloadIndexImgs: Array<Preload> = [
	{
		as: "image",
		href: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/hero-asset.svg",
		type: "image/webp",
		rel: "preload",
	},
	{
		as: "image",
		href: "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/hero-image.webp",
		type: "image/webp",
		rel: "preload",
	},
]

const alternate: Alternate[] = [
	{ href: new URL(canonical), hreflang: "x-default" },
	{ href: new URL("es", canonical), hreflang: "es-ES" },
	{ href: new URL("en", canonical), hreflang: "en-US" },
]
---

<Layout
	title={i18n.SEO_TITLE}
	description={i18n.SEO_DESCRIPTION}
	canonical={canonical}
	alternate={alternate}
	preload={preloadIndexImgs}
>
	<Hero />
	<main>
		<About />
		<Services />
		<Care />
		<Feature />
		<Testimonial />
		<Team />
		<Pet />
		<Pricing />
		<Instagram />
		<FAQ />
		<Contact />
	</main>
</Layout>
