---
import type { InstagramMedia } from "@/components/InstagramFeed.astro"
import { getI18N } from "@/i18n"

type Props = InstagramMedia & {
	modalId: string
}

const { id, modalId, media_url, media_type, caption } = Astro.props

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---

<button
	class:list={["instagram-card inline-block h-full w-full max-w-full"]}
	onclick={`document.getElementById('slider').setAttribute('data-current-slide-id', '${id}');window.${modalId}.showModal()`}
	aria-label={i18n.INSTAGRAM.MODAL_IMAGE_LABEL}
	aria-haspopup="dialog"
>
	{
		(media_type === "IMAGE" || media_type === "CAROUSEL_ALBUM") && (
			<img
				class="h-full w-full rounded-[30px] object-cover"
				loading="lazy"
				decoding="async"
				src={media_url}
				alt={caption || i18n.INSTAGRAM.MODAL_IMAGE_ALT}
			/>
		)
	}
	{
		media_type === "VIDEO" && (
			<video
				class="h-full w-full rounded-[30px] object-cover"
				poster={Astro.props.thumbnail_url}
				preload="auto"
				autoplay
				loop
				muted
			>
				<source src={media_url} type="video/mp4" />
				{i18n.INSTAGRAM.MODAL_VIDEO_WARNING}
			</video>
		)
	}
</button>
