---
import overpass from "@fontsource-variable/overpass/files/overpass-latin-wght-normal.woff2"
import alegreya900 from "@fontsource/alegreya-sans/files/alegreya-sans-latin-900-normal.woff2"
import lifeSavers from "@fontsource/life-savers/files/life-savers-latin-400-normal.woff2"
import type { HTMLAttributes } from "astro/types"

// import RichResults from "@/components/RichResults.astro"

export interface Preload {
	as: string
	href: string
	type: string
	rel?: "preload" | "prefetch"
	crossorigin?: string
}

export interface Alternate {
	href: HTMLAttributes<"link">["href"]
	hreflang: HTMLAttributes<"link">["hreflang"]
}

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	alternate?: Array<Alternate>
	canonical?: string
	image?: string
}

const { title, description, preload, canonical, image = "/img/og.jpg", alternate } = Astro.props

const canonicalURL = canonical
	? new URL(canonical, Astro.site)
	: new URL(Astro.url.pathname, Astro.site)

const keywords = ""
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preload" href={overpass} as="font" type="font/woff2" crossorigin />
<link rel="preload" href={alegreya900} as="font" type="font/woff2" crossorigin />
<link rel="preload" href={lifeSavers} as="font" type="font/woff2" crossorigin />

{
	preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
		<link {rel} {href} {as} {type} {crossorigin} />
	))
}

<link rel="canonical" href={canonicalURL} />
{alternate?.map(({ href, hreflang }) => <link rel="alternate" href={href} hreflang={hreflang} />)}
<meta name="viewport" content="width=device-width" />

<meta name="keywords" content={keywords} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@infoLaVelada" />
<meta name="twitter:creator" content="@IbaiLlanos" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta name="og:image" content={new URL(image, Astro.url)} />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content={Astro.url} />
<meta name="og:site_name" content="La Velada 4" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" href="/img/icons/favicon.ico" sizes="32x32" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />
<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="msapplication-config" content="/browserconfig.xml" />

{
	!import.meta.env.DEV && (
		<>
			<script is:inline src="/registerSW.js" />
			<link rel="manifest" href="/manifest.webmanifest" />
		</>
	)
}

<!-- <RichResults /> -->
