---
import overpass from "@fontsource-variable/overpass/files/overpass-latin-wght-normal.woff2"
import alegreya900 from "@fontsource/alegreya-sans/files/alegreya-sans-latin-900-normal.woff2"
import lifeSavers from "@fontsource/life-savers/files/life-savers-latin-400-normal.woff2"
import type { HTMLAttributes } from "astro/types"

import RichResults from "@/components/RichResults.astro"

export interface Preload {
	as: string
	href: string
	type: string
	rel?: "preload" | "prefetch"
	crossorigin?: string
}

export interface Alternate {
	href: HTMLAttributes<"link">["href"]
	hreflang: HTMLAttributes<"link">["hreflang"]
}

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	alternate?: Array<Alternate>
	canonical?: string
	image?: string
}

const {
	title,
	description,
	preload,
	canonical,
	image = "https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev/og.jpeg",
	alternate,
} = Astro.props

const canonicalURL = canonical
	? new URL(canonical, Astro.site)
	: new URL(Astro.url.pathname, Astro.site)

const { currentLocale } = Astro
const ogLocale: HTMLAttributes<"meta">["content"] = currentLocale === "es" ? "es_ES" : "en_US"

const keywords =
	"veterinaria para gatos, veterinaria especializada en felinos, veterinaria para gatos en Medellín, veterinaria para gatos con servicio a domicilio en Medellín, veterinaria para gatos con guardería, medicina felina en Medellín, feline vets en Medellín, feline vets Colombia, chrisdev-ui"
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preconnect" href="https://pub-e0766a16d9da4b039da6c1561ffd52b6.r2.dev" />
<link rel="preconnect" href="https://scontent.cdninstagram.com" />
<link rel="preload" href={overpass} as="font" type="font/woff2" crossorigin />
<link rel="preload" href={alegreya900} as="font" type="font/woff2" crossorigin />
<link rel="preload" href={lifeSavers} as="font" type="font/woff2" crossorigin />

{
	preload?.map(({ href, as, type, rel = "preload", crossorigin }) => (
		<link {rel} {href} {as} {type} {crossorigin} />
	))
}

<link rel="canonical" href={canonicalURL} />
{alternate?.map(({ href, hreflang }) => <link rel="alternate" href={href} hreflang={hreflang} />)}
<meta name="viewport" content="width=device-width" />

<meta name="keywords" content={keywords} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@felinevets" />
<meta name="twitter:creator" content="@felinevets" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<meta name="og:image" content={new URL(image, Astro.url)} />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content={Astro.url} />
<meta name="og:site_name" content="Feline Vets" />
<meta name="og:type" content="website" />
<meta name="og:locale" content={ogLocale} />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png" />

<meta name="msapplication-config" content="/browserconfig.xml" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="manifest" href="/manifest.webmanifest" />
<RichResults />
