---
import Jumplink from "@/components/Jumplink.astro"
import MainContainer from "@/components/MainContainer.astro"
import PhoneLink from "@/components/PhoneLink.astro"
import PrimaryButton from "@/components/PrimaryButton.astro"
import ServiceCard from "@/components/ServiceCard.astro"
import Tag from "@/components/Tag.astro"
import { BASIC_DATA } from "@/consts/basic"
import { getI18N } from "@/i18n"
import ServicesDecorative from "@/icons/ServicesDecorative.astro"

export interface Service {
	title: string
	description: string
	icon: string
}

const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })

const services: Service[] = [
	{
		title: i18n.SERVICES.ITEMS[0].TITLE,
		description: i18n.SERVICES.ITEMS[0].DESCRIPTION,
		icon: "/icons/services/first-aid-kit.png",
	},
	{
		title: i18n.SERVICES.ITEMS[1].TITLE,
		description: i18n.SERVICES.ITEMS[1].DESCRIPTION,
		icon: "/icons/services/catsitter.png",
	},
	{
		title: i18n.SERVICES.ITEMS[2].TITLE,
		description: i18n.SERVICES.ITEMS[2].DESCRIPTION,
		icon: "/icons/services/microscope.png",
	},
	{
		title: i18n.SERVICES.ITEMS[3].TITLE,
		description: i18n.SERVICES.ITEMS[3].DESCRIPTION,
		icon: "/icons/services/vaccine.png",
	},
	{
		title: i18n.SERVICES.ITEMS[4].TITLE,
		description: i18n.SERVICES.ITEMS[4].DESCRIPTION,
		icon: "/icons/services/medical-report.png",
	},
	{
		title: i18n.SERVICES.ITEMS[5].TITLE,
		description: i18n.SERVICES.ITEMS[5].DESCRIPTION,
		icon: "/icons/services/clinic.png",
	},
]
---

<section class="relative z-1 w-full overflow-hidden bg-primary py-20 md:py-24 lg:py-36">
	<MainContainer>
		<div
			class="flex w-full flex-col items-center justify-center gap-y-11 text-center md:gap-y-16 lg:gap-y-20"
		>
			<div
				class="relative z-1 flex max-w-3xl flex-col items-center justify-center gap-y-4 lg:gap-y-6"
			>
				<Tag text={i18n.SERVICES.TAG} />
				<h2 class="my-0 font-title text-4xl font-black -tracking-[.0625rem] md:text-6xl">
					{i18n.SERVICES.TITLE}
				</h2>
				<ServicesDecorative
					class="absolute -top-16 bottom-auto left-0 right-auto -z-1 w-14 text-tertiary md:left-8 md:w-20 lg:-left-20 xl:-left-44 xl:top-5"
				/>
			</div>
			<div
				class="flex w-full flex-wrap items-stretch justify-center gap-x-14 gap-y-11 md:gap-y-16 lg:gap-y-20"
			>
				{services.map((service, key) => <ServiceCard {...service} index={key} />)}
			</div>
			<div
				class="flex flex-wrap items-center justify-center gap-x-0 gap-y-5 md:flex-nowrap md:justify-start md:gap-x-12"
			>
				<PrimaryButton href="#Contact" variant="secondary"
					>{i18n.SERVICES.BUTTON_TEXT}</PrimaryButton
				>
				<PhoneLink text={i18n.SERVICES.LINK_TEXT} variant="service" phone={BASIC_DATA.phone} />
			</div>
		</div>
	</MainContainer>
	<Jumplink id="Services" />
</section>
